.container {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;

  .button {
    padding: 15px 30px;
    width: 100%;
    background-color: orangered;
    color: white;
    border-radius: 5px;
  }

  textarea {
    resize: vertical;
  }
}
